@charset "utf-8";

html,body{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    color:#000;
    text-decoration: none;
}
a:before{
    content: '♡';
}
a::after{
    content:"♥";
}
/* 마지막 속성의 문구 없애기  */
.menu li:last-child:after{
    content:"";
}

.menu li{ 
    /* display: inline-block;  */
    /* 메뉴 사이 공백 생김*/
    float:left;
    /* 메뉴 사이 공백 없앰*/
    width: 200px;
    /* height: 50px; */
    background-color: skyblue;
    text-align: center; /* 글자 좌우 가운데 */
    /* 글자 상하 가운데 */
    /* -방법1)height를 line-height로 다 지정함을 의미*/
    /* line-height: 50px;  */
    /*-방법2)padding으로 공간 지정*/
    padding-top:15px;
    padding-bottom:15px;
    /* border: 1px solid black; */
    border-top:1px solid black;
    border-right: 1px solid black;
    border-bottom:1px solid black;
}
.menu li:hover{ background-color: rgba(255,255,255,0.3);}
.menu ul{
    background-color: rgb(83, 83, 236);
    overflow:hidden;
}
.menu li a{
    display: block;
}
.menu li a:hover{
    color: yellow;
}

